<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
<!-- 
<div style=" height: 90px; background-color: #7FFFD4; padding-left: 5px; padding-top: 5px"><div style="display: inline-flex;"><div style=""><img v-bind:src="imageurl" alt="https://tinyurl.com/nobwntg" height="80" width="80" ></div><div style=" "><div style=" display: inline-block;">{{title}}</div><div style=" ">{{body}}</div></div></div></div>
 -->
 <style >
 	ul {
  list-style-type: none;
}
 </style>

<!-- <div><ul><li ><a href="https://github.com/">menu 1 </a><ul > v-if="submenus"<li> sub menu 1 1</li></ul>	</li></ul></div> -->. <!-- v-for="menu in submenus" -->


<div><div style=" height: 500px; background-color: #00ffe6; padding-left: 5px; padding-top: 5px"><div style="display: inline-flex;"><div style=""><img v-bind:src="contentbody.imageurl" alt="https://tinyurl.com/nobwntg" height="100" width="100" ></div><div><div>{{contentbody.contentTitle}}</div><div>{{contentbody.summary}}</div></div></div><div>{{details}}</div></div></div>


<script >
	

</script>

</body>
</html>